@media screen and (max-width: 992px) {

	.main__title{
		font-size: 35px;
		line-height: 61px;
	}

	.header__img img{
		max-width: 350px;
		margin-top: 80px;
	}


	.form{
		transform: translateY(0);
	}

	.form__header {
	    padding: 28px 20px 37px;

	}

	.form__body {
	    padding: 18px 19px;
	}


	.input__container {
	    margin-top: 15px;
	}

	.input__container:last-of-type {
	    margin-bottom: 16px;
	}

	.input__container label > input{
		max-width: 100%;
	}

	.form__btn{
		position: static;
		transform: translateX(0);
	}

	.header__cta{
		padding: 24px 0;
		width: 100%;
	}
	

	.mission {
	    padding: 60px 0 60px 0;
	}


	.mission__item {
	    flex: 0 0 33%;
	    padding: 50px 31px 45px;
	}

	.about__description {
	    flex: 0 0 52%;
	}

	.about__vizualization {
	    flex: 0 0 43%;
	}

	.about__description h2{
		font-size: 28px;
	}

	.services__vizualization {
	    width: 43%;
	}

	.services__description {
	    width: 52%;
	}
}



/* IPAD PRO */

@media only screen and (min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px){

	.header {
	    min-height: 77vh;
	}
}


/* IPAD */
@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	.header {
	    min-height: 86vh;
	}
}


@media screen and (max-width: 767px) {
	.header__wrapper{
		flex-direction: column;
		align-items: center;
	}

	.header__intro, .header__logo {
	    text-align: center;
	}
	
	.header__logo img {
	    display: inline-block;
	}

	.main__title {
	    font-size: 25px;
	    line-height: 49px;
	    margin-top: 5px;
	}

	.header__img{
		display: none;
	}

	.mission__items{
		flex-wrap: wrap;
	}

	.mission__item{
		padding-top: 25px;
		margin-top: 20px;
	}

	.testimonials{
		padding: 50px 0 50px 0;
	}

	.testimonials__items {
	    justify-content: space-around;
	    margin-top: 50px;
	    flex-wrap: wrap;
	}

	.testimonials__item{
		flex: initial;
		flex-basis: 45%;
		margin-top: 22px;
		margin-left: 0;
	}

	.feedback, .feedback__wrapper {
	    padding: 20px 0;
	}


	.feedback__wrapper h2{
		font-size: 35px;
		line-height: 44px;
	}

	.feedback__btn{
		margin-top: 37px;
	}

}

@media screen and (max-width: 600px) {
	.about {
	    padding: 50px 0 50px 0;
	}

	.about__wrapper, .services__wrapper {
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	}

	.about__description {
	    flex: 0 0 52%;
	    text-align: center;
	}

	.about__items{
		margin-top: 22px;
	}

	.about__vizualization {
	    margin-top: 51px;
	}

	.services {
	    padding: 50px 0 50px 0;
	}

	.services__vizualization{
		width: initial;
		max-width: initial;
		flex-basis: 43%
	}

	.services__description {
	    width: initial;
	    max-width: initial;
	    flex-basis: 52%;
	    text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.testimonials__item {
	    flex-basis: 80%;
	}
}

@media screen and (max-width: 500px) {

	.mission__items{
		justify-content: center;
	}

	.mission__item{
		flex-basis: 70%;
	}

	.credentials__wrapper--f{
		justify-content: space-around;
		flex-direction: column;
	}
}


@media screen and (max-width: 420px) {
	.about__type{
		font-size: 12px;
	}

	.about__description h2 {
	    font-size: 21px;
	    line-height: 38px;
	}

	.credentials__contact {
	    margin-left: 0; 
	    margin-top: 47px;
	}

}


@media screen and (max-width: 380px) {
	.feedback__btn, .feedback__wrapper p {
	    margin-top: 19px;
	}

	.feedback__wrapper h2 {
	    font-size: 25px;
	    line-height: 35px;
	}
}